.about-text {
  padding: 0 10% 10% 10%;
}

.about-text h2 {
  font-size: 3em;
  text-align: center;
  padding: 20px 0 20px 0;
}

.about-text p {
  line-height: 1.5em;
}

.about-text a {
  display: block;
  text-align: center;
  max-width: fit-content;
}

.mountain-background {
  display: none;
}
