.tagline {
  top: 50px;
  left: 50%;
  padding: 20px;
}

.tagline img {
  max-width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px;
}

.tagline h2 {
  text-align: center;
}

.keep-browsing {
  display: grid;
  padding-bottom: 70px;
}
.keep-browsing h2 {
  text-align: center;
  font-size: 2em;
  max-width: 8ch;
  margin: auto;
}

.keep-browsing p {
  font-size: 1em;
  text-align: center;
  font-size: large;
  max-width: 25ch;
  margin: auto;
  padding-bottom: 30px;
}

/* I couldn't find a better way to hide the desktop version of the keep-browsing section */
.keep-browsing-desktop {
  display: none;
}

.pets {
  display: grid;
  gap: 10px;
  text-align: center;
  padding-bottom: 70px;
}
.pets img {
  max-width: 8em;
  border-radius: 50%;
  margin: auto;
}

.pets h2 {
  font-size: 1.4em;
  max-width: 23ch;
  margin: auto;
}

.shipping {
  display: grid;
  gap: 10px;
  text-align: left;
  padding: 20px;
  margin: auto;
  background: #fbfbfb;
}

.shipping img {
  max-width: 8em;
  margin: auto;
}

.shipping h2 {
  font-size: 1.2em;
  margin: auto;
  padding: 0%;
}

.shipping p {
  margin: auto;
  max-width: 110ch;
}
