.tagline {
  padding: 20px;
}

.tagline img {
  max-width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px;
}

.tagline h2 {
  text-align: center;
}

/* Featured Products */

.products img {
  grid-column: -1/1;
  margin: auto;
}

.products a {
  grid-column: -1/1;
  margin: auto;
}

.products h2,
.products h3 {
  grid-column: 2;
  font-size: 0.8em;
  margin: auto;
  padding: 0;
}

.products p {
  grid-column: 2;
  font-size: 1.1em;
  padding-left: 15%;
  color: #0b3a40;
  margin-top: 0;
  padding: 0;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.cta:hover {
  background-color: #074d56;
  cursor: pointer;
}

.filter-buttons button.active {
  background-color: #5e2c07;
  color: #fff;
  border: 2px solid #0b3a40;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, fit-content(100%));
  justify-content: center;
  gap: 10px;
  max-width: 80%;
  margin: 50px auto;
}

.card {
  display: flex; /* Keep the card as a flex container */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  max-width: 18em;
  border-radius: 10px;
  background-color: #fff;
}

.card-content {
  padding-bottom: 20px;
}

.card-title {
  position: relative;
  left: 0;
  padding: 0;
  margin: auto;
  font-size: 1.3em;
  padding-top: 15px;
}

.card-price {
  font-size: 1.2em;
  color: #0b3a40;
  margin: 0;
  left: 0;
  padding: 0;
}

.card-price-container {
  display: flex;
  gap: 0.5rem;
  justify-content: left;
}

.card-price.line-through {
  text-decoration: line-through;
  color: gray;
  text-align: left;
  padding: 0;
}

.card-discounted-price {
  color: rgb(109, 15, 15);
  font-size: 1.2em;
  padding: 0;
}

/* Keep Browsing (this part is differently placed for media over 1150px) */

.keep-browsing {
  display: grid;
  padding-bottom: 70px;
}
.keep-browsing h2 {
  text-align: center;
  font-size: 2em;
  max-width: 8ch;
  margin: auto;
}

.keep-browsing p {
  font-size: 1em;
  text-align: center;
  font-size: large;
  max-width: 25ch;
  margin: auto;
  padding-bottom: 30px;
}

.keep-browsing-desktop {
  display: none;
}

/* Mid section with subscribe button and link to pet clothes */

.mid-filler {
  display: none;
}

.pets {
  display: grid;
  gap: 10px;
  text-align: center;
  padding-bottom: 70px;
}
.pets img {
  max-width: 8em;
  border-radius: 50%;
  margin: auto;
}

.pets h2 {
  font-size: 1.4em;
  max-width: 23ch;
  margin: auto;
}

.subscribe-heading {
  max-width: 17ch;
}

/* Shipping info */

.shipping {
  display: grid;
  gap: 10px;
  text-align: left;
  padding: 20px;
  margin: auto;
  background: #fbfbfb;
}

.shipping img {
  max-width: 8em;
  margin: auto;
}

.shipping h2 {
  font-size: 1.2em;
  margin: auto;
  padding: 0%;
}

.shipping p {
  margin: auto;
  max-width: 110ch;
}
