@media (min-width: 400px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {

  nav {
    display: block;
    position: static;
  }

  nav li {
    display: inline-flex;
    padding: 0px;
  }

  nav ul {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

  /* REMEMBER TO INSERT LOGO HERE /*

