/* Main media page*/

/*The screen size for desktop is a bit weird. Need to make better*/

/*NOTE: nothing on this page directly links to any of the media query's in the "pop-up" placeholders. They have their own temporary media file (/pop-ups/pop-ups-css/pop-ups-media.css)*/

@media (min-width: 400px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .products img {
    grid-column: -1/1;
    margin: auto;
  }

  .products a {
    grid-column: -1/1;
    margin: auto;
  }

  .products h2,
  .products h3 {
    grid-column: 2;
    font-size: 0.8em;
    margin: auto;
    padding: 0;
  }

  .products p {
    grid-column: 2;
    font-size: 1.1em;
    padding-left: 15%;
    color: #0b3a40;
    margin-top: 0;
    padding: 0;
  }

  .featured {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 80%;
    margin: 50px auto;
    gap: 10px;
    padding-left: 17%;
  }

  .featured img {
    max-width: 8em;
    max-height: 140px;
  }

  .keep-browsing {
    display: none;
  }

  .keep-browsing-desktop {
    display: grid;
    padding-right: 50%;
  }

  .keep-browsing-desktop h2 {
    text-align: center;
    font-size: 1em;
    max-width: 8ch;
    margin: auto;
    padding: 0;
  }

  .keep-browsing-desktop p {
    text-align: center;
    max-width: 30ch;
    margin: auto;
    padding-bottom: 30px;
    font-size: small;
  }

  .about-text {
    margin: 0% 20% 10% 20%;
    background: #ebebeb;
    padding: 1em 5em;
    border-radius: 25px;
  }

  .about-text h2 {
    font-size: 3em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about-text p {
    line-height: 1.5em;
  }

  .about-text a {
    display: block;
    text-align: center;
    max-width: fit-content;
  }

  .mountain-background {
    display: block;
  }

  #mountains-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    top: f;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      #ebebeb 100%
    );
  }

  .contact-text-desktop {
    display: block;
  }
}

@media (min-width: 1300px) {
  .mobile {
    display: none;
  }

  p {
    font-size: 1.8em;
    margin-top: 0;
    font-weight: 550;
  }

  nav {
    display: block;
    position: static;
  }

  li,
  a {
    font-size: 0.5em;
  }

  .container a {
    font-size: 1em;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));
    justify-content: center;
    gap: 10px;
    max-width: 80%;
    margin: 50px auto;
  }

  .header-text {
    color: #000000;
    text-align: left;
    font-size: large;
    padding-left: 5px;
  }

  .desktop {
    background-image: url(/images/background/full-large3.webp);
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 0;
    z-index: 2000;
  }

  .desktop ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0 6% 4em;
    align-items: center;
    margin: 0;
  }

  .header-logo {
    max-width: 5em;
  }

  .header-left {
    display: flex;
    justify-content: space-between;
  }

  .header-right {
    display: flex;
    justify-content: space-around;
  }

  nav li {
    padding: 0 60px 0 60px;
  }

  .desktop a {
    font-size: 3em;
  }

  .tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tagline img {
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
  }

  .tagline h2 {
    text-align: left;
    font-size: xx-large;
    max-width: 45ch;
  }

  .featured {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 50%;
    padding-left: 0%;
  }

  .featured img {
    max-width: 20em;
    max-height: 50em;
  }

  .card a {
    font-size: 2em;
  }

  .products {
    display: block;
    margin: auto;
  }

  h1 {
    font-size: 3em;
  }

  .products h2 {
    font-size: 2em;
    color: #0b3a40;
  }

  .products h3 {
    font-size: 1.5em;
  }

  .products p {
    font-size: 2.2em;
    padding-left: 30%;
    color: #0b3a40;
    margin-top: 0;
    font-weight: 550;
  }

  .keep-browsing {
    display: none;
  }

  .keep-browsing-desktop {
    display: grid;
    padding: 70px;
  }

  .keep-browsing-desktop h2 {
    text-align: center;
    font-size: 2em;
    max-width: 8ch;
    margin: auto;
    padding: 0;
  }

  .keep-browsing-desktop p {
    text-align: center;
    max-width: 30ch;
    margin: auto;
    padding-bottom: 30px;
    font-size: large;
  }

  .pets,
  .newsletter {
    display: none;
  }

  .mid-filler {
    display: flex;
    margin: auto;
    justify-content: space-around;
  }

  .newsletter-desktop {
    padding-right: 20px;
    align-content: center;
  }

  .pets-desktop {
    display: grid;
    gap: 10px;
    text-align: center;
    padding-bottom: 70px;
    padding-left: 20px;
  }
  .pets-desktop img {
    max-width: 15em;
    border-radius: 50%;
    margin: auto;
  }

  .pets-desktop h2,
  .pets-desktop p {
    font-size: 1.4em;
    max-width: 30ch;
    margin: auto;
  }

  .video-banner {
    height: 30em;
    width: fit-content;
    position: relative;
    margin: auto;
    overflow: hidden;
  }

  .video-banner > video {
    object-fit: cover;
    height: 55%;
    width: 32.3em;
    border-radius: 50px;
    filter: brightness(70%);
  }

  .video-banner-content {
    display: grid;
    position: absolute;
    inset: 0;
    padding: 2em 0 0 0;
    align-content: center;
    z-index: 2;
    color: white;
    max-width: 15em;
    max-height: 15em;
  }

  .video-logo {
    max-width: 8em;
    position: absolute;
    grid-column: 2;
    z-index: 2;
    padding-left: 125px;
  }

  .video-background {
    max-width: 14em;
    max-height: 21em;
    position: absolute;
    grid-column: 2;
    z-index: 1;
    padding-bottom: 8px;
    padding-left: 57px;
    border-radius: 50px;
  }

  .subscribe-heading {
    font-weight: 600;
    font-size: 1.5em;
    padding-bottom: 10px;
  }

  .subscribe-text {
    font-family: "Tittillium Web", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: left;
    max-width: 18ch;
    min-width: 18ch;
    padding-bottom: 5px;
  }

  .newsletter {
    padding-bottom: 70px;
  }

  .shipping {
    display: grid;
    gap: 10px;
    text-align: left;
    padding: 100px;
    margin: auto;
    background: #fbfbfb;
  }

  .shipping img {
    max-width: 20em;
    margin: auto;
  }

  .shipping h2 {
    font-size: 3em;
    margin: auto;
    padding: 0%;
  }

  .shipping p {
    margin: auto;
    max-width: 90ch;
    font-size: 1.5em;
  }

  .cta__orange {
    background-color: #5e2c07;
    color: white;
    font-size: 1em;
    font-family: "Tittillium Web", Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-wrap: nowrap;
    padding: 10px 2em;
    border-radius: 20px;
    max-width: 1000px;
    margin: auto;
    position: relative;
    display: inline-block;
  }

  .top-footer {
    display: grid;
    align-items: center;
    background-color: #4f7a80;
    color: #fff;
    height: 13em;
  }

  .top-footer i,
  .top-footer a {
    font-size: large;
  }

  .top-footer img {
    display: block;
    margin: auto;
    max-width: 10em;
    grid-column: 2;
  }

  .footer-links-left {
    color: #fff;
    grid-column: 1;
    max-width: 19ch;
    padding-left: 10%;
  }

  .footer-links-right {
    grid-column: 3;
    text-align: right;
    padding-right: 10%;
  }

  .bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #ebebeb;
    color: #000000;
    max-width: 50em;
    margin: auto;
  }

  .bottom-footer a {
    font-size: 1.2em;
  }

  .social-logos {
    font-size: 2em;
    color: #0b3a40;
  }

  .copyright {
    font-size: 0.8em;
    text-align: center;
    font-family: "Tittillium Web", Verdana, Geneva, Tahoma, sans-serif;
  }

  .contact-container {
    display: flex;
    padding-bottom: 6em;
  }

  .contact {
    margin: auto;
    padding-left: 10%;
  }

  .contact-image {
    max-width: 45%;
    margin: auto;
    display: block;
    border-radius: 25px;
  }

  .contact-maps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 50%;
    margin: 50px auto;
    gap: 31px;
    font-size: 0.5em;
  }
}
