/*This is a placeholder page for the payment page, as it should be a pop-up initially*/

/* Top placeholder */

.back-btn {
  display: flex;
  margin: auto;
  text-transform: uppercase;
}

.pop-up {
  color: white;
}

body {
  background: black;
  text-decoration: none;
}

h1 {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  color: #0b3a40;
  text-align: center;
  font-size: large;
  margin-top: 0;
}

h2,
h3 {
  font-family: "Palanquin", Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: 400;
}

p {
  font-family: "Tittillium Web", Verdana, Geneva, Tahoma, sans-serif;
  color: #4e5152;
  font-size: x-small;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  padding-left: 20px;
  font-size: large;
}

input,
select,
textarea {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

form {
  display: flex;
  justify-content: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dashed #ccc;
  margin: 1em 0;
  padding: 0;
}

/*I've tried for hours to space this evenly but I can't get it to work. This is a temp solution*/
.visa {
  padding-right: 50px;
}

.round-checkbox {
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #000000;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.round-checkbox:checked {
  background-color: #0b3a40;
}

.checkbox-placement {
  padding-left: 100px;
}

.checkout-heading {
  text-align: left;
}

.checkout-heading a,
.checkout-heading h2 {
  color: black;
  font-size: medium;
}

.checkout {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
}

.checkout__fieldset {
  border: #fff;
  display: flex;
  text-align: left;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  border-radius: 25px;
  max-width: 390px;
  max-height: 850px;
}

.checkout__fieldset > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-picture {
  max-width: 100px;
  max-height: 55px;
  border-radius: 11%;
  background: #d9d9d9;
  margin: 5px;
}

.cart-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 178px;
  max-height: 64px;
}

.checkout-choices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.checkout-choices i {
  font-size: xx-large;
  padding: 10px 0 10px 0;
}

.checkout__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout__info > * {
  margin: 0;
  max-width: 18ch;
}

.cart-item__info {
  display: flex;
  flex-direction: column;
}

.cart-item__info > * {
  margin: 0;
  max-width: 18ch;
  font-size: 0.8em;
}

.size {
  font-size: 0.6em;
  color: black;
  padding-top: 3px;
}

.total {
  display: grid;
  grid-template-columns: 2 1fr;
  padding-bottom: 10px;
}

.total-left {
  grid-column: 1;
  font-size: 0.8em;
  font-weight: 600;
}

.total-right {
  grid-column: 2;
  text-align: right;
  font-size: 0.8em;
  font-weight: 600;
}

.cart__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart__link a,
.cart__link h2 {
  color: black;
  font-size: medium;
}

.cta__checkout {
  background-color: #0b3a40;
  color: white;
  font-size: 1em;
  font-family: "Tittillium Web", Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-wrap: nowrap;
  padding: 10px 100px;
  border-radius: 20px;
  max-width: 1000px;
  margin: auto;
  position: relative;
  display: inline-block;
}
