.products {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.products img {
  grid-column: -1/1;
  margin: auto;
}

.products a {
  grid-column: -1/1;
  margin: auto;
}

.products h2,
.products h3 {
  grid-column: 2;
  font-size: 0.8em;
  margin: auto;
}

.products p {
  grid-column: 2;
  font-size: 1.1em;
  padding-left: 15%;
  color: #0b3a40;
}

.featured {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 465px;
  margin: 50px auto;
  gap: 10px;
}

.featured img {
  max-width: 8em;
  max-height: 140px;
}
