.products {
  background-color: #ebebeb;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.products img {
  grid-column: -1/1;
  margin: auto;
}

.products h2,
.products h3 {
  grid-column: 2;
  font-size: 0.8em;
  margin: auto;
}

.products p {
  grid-column: 2;
  font-size: 0.8em;
  padding-left: 15%;
}
