/* Main style sheet */

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Tittillium Web";
  src: url("../fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Palanquin";
  src: url("../fonts/Palanquin/Palanquin-Regular.ttf") format("truetype");
}

html {
  background-color: #ebebeb;
}

body {
  margin: 0;
}

.mobile {
  background-color: #d9d9d9;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 2000;
}

footer {
  list-style-type: none;
  text-decoration: none;
  background: #ebebeb;
}

nav {
  display: none;
  position: fixed;
  top: 80px;
  z-index: 1000;
  left: 0px;
}

nav li {
  padding-top: 30px;
}

nav ul {
  padding-left: 10px;
  padding-right: 35px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
  background: #0b3a40;
  border-radius: 0 0 10px 0;
}

.hamburger-text {
  color: #fff;
  text-align: left;
  font-size: large;
  padding-left: 5px;
}

.hamburger-text__signup {
  font-size: small;
  color: #fff;
  text-align: center;
  padding-right: 6%;
  align-items: center;
}

h1,
h2,
h3,
span {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  padding: 0% 15% 0% 15%;
}

h1 {
  font-size: x-large;
  padding: 20px;
  text-align: center;
}

li,
a {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  list-style-type: none;
  text-decoration: none;
  color: #000000;
}

p,
span {
  font-family: "Tittillium Web", Verdana, Geneva, Tahoma, sans-serif;
}

.current {
  text-decoration: underline;
  font-weight: 600;
}

.logo-only {
  max-width: 80px;
  max-height: 34px;
}

.top-footer {
  display: grid;
  align-items: center;
  background-color: #4f7a80;
  color: #fff;
}

.top-footer a {
  color: #fff;
}

.top-footer img {
  display: block;
  margin: auto;
  max-width: 80px;
  grid-column: 2;
  padding-left: 30px;
}

.footer-links-left {
  color: #fff;
  grid-column: 1;
  max-width: 10ch;
  padding-left: 40px;
}

.footer-links-right {
  grid-column: 3;
  text-align: right;
  padding-right: 45px;
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #ebebeb;
  color: #000000;
}

.social-logos {
  font-size: x-large;
}

.copyright {
  font-size: 0.8em;
  text-align: center;
  font-family: "Tittillium Web", Verdana, Geneva, Tahoma, sans-serif;
}

.cta {
  background-color: #0b3a40;
  color: white;
  font-size: 1em;
  font-family: "Tittillium Web", Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-wrap: nowrap;
  padding: 10px 40px;
  border-radius: 20px;
  max-width: 1000px;
  margin: auto;
  position: relative;
  display: inline-block;
}

.cta__orange {
  background-color: #5e2c07;
  color: white;
  font-size: 1em;
  font-family: "Tittillium Web", Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-wrap: nowrap;
  padding: 10px 40px;
  border-radius: 20px;
  max-width: 1000px;
  margin: auto;
  position: relative;
  display: inline-block;
}

.cta__send {
  padding: 40px 0 40px 0;
}
