/* This page is for controlling the video ads. (NOTE: There is only one ad at the present, and thats on the landing page)*/

.video-banner {
  height: 220px;
  width: 300px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.video-banner > video {
  object-fit: cover;
  height: 80%;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  filter: brightness(70%);
}

.video-banner-content {
  display: grid;
  position: absolute;
  inset: 0;
  padding: 0.9rem;
  align-items: center;
  z-index: 2;
  color: white;
  text-shadow: 0 0 10px black;
  max-width: 180px;
  max-height: 150px;
}

.video-logo {
  max-width: 70px;
  position: absolute;
  grid-column: 2;
  z-index: 2;
  padding-left: 30px;
}

.video-background {
  position: absolute;
  grid-column: 2;
  z-index: 1;
  max-height: 156px;
  border-radius: 51px;
}

.subscribe-text {
  font-family: "Tittillium Web", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  text-align: left;
  max-width: 18ch;
  min-width: 18ch;
  padding-bottom: 5px;
}

.subscribe-heading {
  font-weight: 600;
  font-size: large;
  padding-bottom: 10px;
}

.newsletter {
  padding-bottom: 70px;
}
