.back {
  padding: 20%;
}

.back a {
  display: block;
  margin: auto;
  padding: 30px 50px 30px 50x;
  text-align: center;
  font-size: 5em;
}

/* This is just a placeholder for all the pages that are not part of the assignment, or I cant do because I don't know JS */
